:root {
  background-color: #0A1F38;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 20px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
